#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#home-description{
  border: 10px solid #b4a7d6;
  padding: 10px 30px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  text-align: left;
  text-indent: 55px;
}

#page-descriptions{
  border: 10px solid #b4a7d6;
  padding: 20px 30px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  text-align: left;
  text-indent: 55px;
}

#page-descriptions .page-sections{
  width: 100%;
  margin: 10px;
}

#page-descriptions h3 {
  width: 100%;
  text-indent: 0px;
  margin: 0px;
}

#page-descriptions p {
  width: 100%;
  text-align: start;
  text-indent: 0px;
  padding: 0px 50px;
  box-sizing: border-box;
}