/*   ----- Variables  -----  */
:root {
    --red: #C2141D;
    --yellow: #FFD933;
    --baby-blue: #437BBF;
    --light-purple: #b4a7d6;
    --dark-blue: #335695;
    --background-blue: #131f35;
    --light-blue: #1499EB;
    --light-purple: #b4a7d6;
    --lime-green: #dfffae;
    --lime-green-border: #58B827;
    --silver: #EEEFEA;
}

#root {
  margin: 0 auto;
  text-align: center;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 34px;
}

h3{
  font-size: 25px;
}

p {
  font-size: 18px;
}

/* 
    Citation for the Navigation code below
    Date: 2/12/2026
    Copied + Adapted from: Alex Duell's CS290 project code
    Source: https://github.com/duellal/a8-portfolio/blob/main/frontend/src/App.css - lines 15-28, 201 - 251
*/
/*  ----- Navigation ----- Override text links for navigation  */
nav {
    display: flex;
    justify-self: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 100%;
    padding: 16px;
    background-color: var(--baby-blue);
    box-sizing: border-box;
    font-weight: 800;
    color: black;
}

nav a {
    display: flex;
    background-color: white;
    border: 5px solid var(--red);
    box-shadow: 5px 5px rgba(0,0,0,0.1);
    border-radius: 100%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: max-content;
    font-size: 20px;
    margin: 1.5% 1.5%;
    min-width: 125px;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
}
nav a:hover {
    text-decoration: none;
    background-color: var(--lime-green);
    border-color: var(--lime-green-border);
}
nav .highlight {
    text-decoration: none;
    background-color: var(--yellow);
    border: 5px solid var(--lime-green-border);
    box-shadow:  none;
}
#app-nav a:hover {
    box-shadow: 5px 5px rgba(0,0,0,0.3);
}

/* ----- Reset Database Popup ----- */
#reset-database-popup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--red);
  background: var(--baby-blue);
  padding: 10px;
  place-items: center;
  color: white;
}

#reset-database-popup p, 
#reset-data-btns {
  display: flex;
}

#reset-database-popup p {
  width: 100%;
  place-content: center;
  font-size: 20px;
} 

#reset-data-btns {
  gap: 20px;
  place-content: space-around;
}

#reset-data-btns button {
  background: white;
  border: none;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
}

/* Step 4 Instruction Modal */
#step4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--red);
  background: var(--baby-blue);
  padding: 10px;
  color: white;
}

#step4 p {
  width: 100%;
  place-content: center;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0; 
} 

#step4 h1 {
  width: 100%;
  font-size: 34px;
}

#step4 ol li {
  text-align: start;
  margin: 10px 0;
}

#step4 ol li ul li{
  margin: 5px 0;
}

/* ----- Home Page ----- */
#home-description{
  border: 10px solid var(--light-purple);
  padding: 10px 30px;
  margin-bottom: 100px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  text-align: left;
  text-indent: 55px;
}

#page-descriptions{
  border: 10px solid var(--light-purple);
  padding: 20px 30px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  text-align: left;
  text-indent: 55px;
}

#page-descriptions .page-sections{
  width: 100%;
  margin: 10px;
}

#page-descriptions h3 {
  width: 100%;
  text-indent: 0px;
  margin: 0px;
}

#page-descriptions p {
  width: 100%;
  text-align: start;
  text-indent: 0px;
  padding: 0px 50px;
  box-sizing: border-box;
}

/* ------ Forms ------ */
form {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  width: max-content;
  justify-self: center;
  justify-content: center;
  align-content: start;
  align-items: center;
}

form h2{ 
  width: 100%;
}

form label {
  margin: 5px;
  align-self: center;
  font-weight: bold;
}

form input, form select {
  margin: 5px;
}

/* Forms to Add Data */
#add-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  width: max-content;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

#add-form h2{
  width: 100%;
}

#select-only {
  width: 100%;
  align-self: start;
}

#update-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  width: max-content;
  justify-self: center;
  align-items: center;
  width: 650px;
  height: 350px;
}

#update-form h2{
  width: 100%;
}

#form-btn-div {
  padding-top: 10px;
  width: 100%;
}

.note-textbox {
  display: flex;
  flex-wrap: wrap;
  justify-self: start;
  width: 100%;
}

.note-textbox textarea {
  margin-top: 5px;
}

textarea {
  max-width: 100%;
  max-height: 400px;
  min-height: 20px;
  min-width: 100px;
  width: 100%;
  height: 50px;
}

/* ------ Footer ------ */
footer{
  margin: 100px 0 50px 0;
  width: 100%;
}

/* ------ Add Buttons ------ */
#btn-row {
  display: flex;
  width: 100%;
  margin: 50px 0;
  justify-content: center;
}

.add-btn {
  background-color: var(--baby-blue);
  padding: 10px;
  font-size: 16px;
  color: white;
  border: var(--baby-blue);
}