#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 34px;
}

h3{
  font-size: 25px;
}

p {
  font-size: 18px;
}

#home-description{
  border: 10px solid #b4a7d6;
  padding: 10px 30px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  text-align: left;
  text-indent: 55px;
}

#page-descriptions{
  border: 10px solid #b4a7d6;
  padding: 20px 30px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  text-align: left;
  text-indent: 55px;
}

#page-descriptions .page-sections{
  width: 100%;
  margin: 10px;
}

#page-descriptions h3 {
  width: 100%;
  text-indent: 0px;
  margin: 0px;
}

#page-descriptions p {
  width: 100%;
  text-align: start;
  text-indent: 0px;
  padding: 0px 50px;
  box-sizing: border-box;
}