body {
    width: 100%;
    margin: 0;
    color: var(--silver);
    background-color: var(--background-blue);
}
h1, h2 { margin-left: 16px;}

/* ------ All Buttons ------ */
button {
    cursor: pointer;
}

/* ----- Tables ------ */
table{
    display: block;
    justify-self: center;
    max-width: 90%;
    max-height: 500px;
    overflow-y: scroll;
    border: 5px solid var(--silver);
    color: white;
    border-collapse: separate;
}

thead th{
    position: sticky;
    top: 0px;
}
th, td {
    padding: 12px;
    text-align: center;
}
th {
    background-color: var(--dark-blue);
    border-bottom: 5px solid var(--silver); 
}
tr:nth-child(even) {background-color: var(--dark-blue);}
tr:nth-child(odd) {background-color: var(--light-blue);}
.cuForm { 
    margin: 20px;
}

#table-div {
    width: 100%;
}

/* ------ Form Inputs ------ */
input, select { 
    margin-bottom: 4px;
    margin-right: 12px;
    background-color: var(--silver);
}
a {margin-left: 16px;}

/* ------ Page Styling ------ */
#page-styles {
    max-width: 100%;
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
}