body {
    width: 100%;
    margin: 0;
}
h1, h2 { margin-left: 16px;}
table {border-collapse: collapse;margin-left: 32px;}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
th {background-color: #f2f2f2;}
tr:nth-child(even) {background-color: #f9f9f9;}
.cuForm { margin-left: 32px;}
input, select { margin-bottom: 4px;margin-right: 12px;}
a {margin-left: 16px;}